body {
    background: #1f1d1f;
}

#wrapperMainNav {
    background: #335053;
}

#wrapperMainNav img {
    filter: invert(1) hue-rotate(180deg);
}


/*========================================================*/
header {
    background: rgba(57, 102, 41, 0.71);
}

header #titre {
    color: rgb(152, 190, 213);
}

header #intro {
    background: #0d5454;
    color: #a8b9c7;
}


/*========================================================*/
#python, #pdf {
    background: linear-gradient(to right, rgba(113, 88, 16, 0.91), rgba(83, 35, 24, 0.91));
    background: -webkit-linear-gradient(to right, rgba(113, 88, 16, 0.91), rgba(83, 35, 24, 0.91));
}

#web {
	background: linear-gradient(90deg, rgb(8, 118, 98) 0%, rgb(27, 100, 2) 50%, rgb(36, 123, 2) 100%);
}


/*========================================================*/
footer, #topNav {
    filter: invert(1) hue-rotate(180deg);
}
