div#page {
    margin-top: 2rem;
}



/*===================================================================================*/
div#page h1 {
    margin: 0 5%;
    scroll-margin-top: 3rem;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'ComfortaaRegular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f0f0f0;
    text-shadow: 0px 0px 2px #1e1e1e;
    background-color: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 30%, rgba(250,208,44,0.7) 40%, rgba(250,208,44,0.7) 60%, rgba(255,255,255,0) 70%);
}

div#page article {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

div#page article section#python, div#page article section#pdf {
    width: 47%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;

    border-radius: .5rem;
    text-align: center;
    color: whitesmoke;
    background: #fdc830;
    background: -webkit-linear-gradient(to right, rgba(253, 200, 48, 0.8), rgba(243, 115, 53, 0.8));
    background: linear-gradient(to right, rgba(253, 200, 48, 0.8), rgba(243, 115, 53, 0.8));
}

div#page article section#web {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 1rem 0;

    border-radius: .5rem;
    background: rgba(58, 180, 157, 0.8);
    background: linear-gradient(90deg, rgba(58,180,157,0.8) 0%, rgba(123,203,44,0.8) 50%, rgba(87,185,17,0.8) 100%);
}

div#page article section iframe, div#page article section figure img {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: none;
    width: 85%;
    height: 30rem;
}

div#page article section h2 {
    text-decoration: underline;
    font-size: 2rem;
    color: #f0f0f0;
}

div#page article section figure img {
    height: auto;
}

div#page article section figure figcaption {
    margin-top: 1rem;
    padding: .5rem;
    height: 20rem;
    overflow-y: scroll;
    background-color: #f0f0f0;
    color: #0f0f0f;
    font-family: monospace;
    text-align: left;
}






/*=========================================================================================*/
@media only screen and (max-width: 600px) {
    div#page article {
        flex-direction: column;
    }

    div#page article section#python, div#page article section#pdf,
    div#page article section#web {
        width: 90%;
    }
}