div#page {
    margin: 3rem 7.5%;
}



/*===================================================================================*/
div#page header {
    background-color: rgba(227, 251, 114, 0.71);
    border-radius: .5rem .5rem 0rem 0rem;
    padding: 1.2rem;
}

div#page header h1 {
    text-align: center;
    color: rgb(93, 60, 125);
    font-size: 4rem;
    font-family: 'ComfortaaRegular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#page header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
}

div#page header section img{
    width: 45%;
    align-self: center;
}

div#page header section p {
    width: 35%;
    padding: 5rem;
    border-radius: .7rem;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'GlacialIndifferenceRegular', Arial, Helvetica, sans-serif;
    color: #374955;
    background-image: linear-gradient(to right top, rgba(141, 236, 243, 0.829), rgba(127, 222, 229, 0.829), rgba(112, 208, 215, 0.829), rgba(98, 194, 201, 0.829), rgba(83, 180, 187, 0.829));
}

div#page img#exempleJupyter {
    display: block;
    width: 100%;
    border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
}




/*===================================================================================*/
div#page div#corps {
    background-image: linear-gradient(to right top, rgba(180, 225, 255, 0.829), rgba(143, 238, 255, 0.829), rgba(121, 249, 238, 0.829), rgba(142, 255, 200, 0.836), rgba(193, 255, 155, 0.829));
    border-radius: 0rem 0rem .5rem .5rem;
    padding: .8rem;
    font-family: 'GlacialIndifferenceRegular', Arial, Helvetica, sans-serif;
}

div#page div#corps h2 {
    text-align: center;
    font-family: 'ComfortaaRegular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

div#page div#corps p {
    margin: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.3rem;
    text-align: justify;
}

div#page div#corps p a {
    text-decoration: underline;
}

div#page div#corps p a:hover {
    text-decoration: none;
}

div#page div#corps details {
    margin: 0 4.8rem 3rem;
    padding: .5rem 1rem .7rem;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    border: 1px solid #2c2c2c;
}

div#page div#corps summary{
    font-size: 1.4rem;
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

div#page div#corps details.open {
    padding: .5em;
}

div#page div#corps summary.open {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}









/*========================================================================================*/
@media only screen and (max-width: 600px){
    div#page {
        margin: 2rem 0;
    }


    div#page header {
        width: auto;
        margin: 0 .5rem;
        border-radius: .3rem;
    }

    div#page header h1 {
        font-size: 2.5rem;
    }

    div#page header section {
        flex-direction: column;
    }

    div#page header section img {
        display: none;
    }

    div#page header section p {
        width: 75%;
        padding: 2rem;
        font-size: 1.5rem;
    }




    div#page img#exempleJupyter {
        width: 95%;
        margin: 0 .5rem;
    }




    div#corps {
        margin: 0 .5rem;
    }
    
    div#page div#corps p {
        margin: 1rem 1rem 2rem;
        padding: 0;
    }

    div#page div#corps details {
        margin: 0 1rem 3rem;
    }
}