@font-face {
    font-family: 'UniqueRegular';
        src: url('https://fontlibrary.org/assets/fonts/unique/1539764ecc445a7321c68badd777ccaa/9ff4cf64c0c38390221799ac7cd72081/UniqueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }