h1 {
    text-align: center;
}


#page p {
    margin: 3rem;
    column-count: 3;
    text-align: justify;
}    

#page p span:first-child {
    width: 45%;
    margin-right: 1rem;
}

#page p span:last-child {
    width: 45%;
    margin-left: 1rem;
}