@import url(fonts/orkney.css);

body{
    margin: 0;
    font-family: 'OrkneyRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #fffdf3;
}

a {
    color: #111111;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1::selection, h2::selection, h3::selection, 
p::selection, b::selection, a::selection, 
label::selection, legend::selection, span::selection, 
footer::selection, img::selection {
  background: rgba(176, 235, 142, .35);
  color: rgba(17, 17, 17, .6);
}



/*------------------------------------------------------------*/
#barreNav {
    background: rgba(176, 235, 142, .5);
    height: 5.8rem;
    padding-top: 1rem;
    position: sticky;
}

#barreNav img {
    position: absolute;
    max-width: 10rem;
    padding: 1.5rem .3rem;
    top: -1.5rem;
    left: -1.5rem;
    background-color: #99df57;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

nav a:hover {
    text-decoration: none;
}

nav a:focus {
    border: none;
}

nav a {
    margin: 1rem;
    padding: .5rem;
    border-bottom: 3px solid #7ace4a;
    color: #2e2e2e;
    display: inline-block;
    position: relative;
    vertical-align: middle;

    transform: perspective(1px) translateZ(0);
      -webkit-transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-property: color;
      -webkit-transition-property: color;
    transition-duration: 0.1s;
      -webkit-transition-duration: 0.3s;
}

nav a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #7ace4a;

    transform: scaleY(0);
      -webkit-transform: scaleY(0);
    transform-origin: 50% 100%;
      -webkit-transform-origin: 50% 100%;
    transition-property: transform;
      -webkit-transition-property: transform;
    transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
    transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-out;
}

nav a:hover:before, nav a:focus:before, nav a:active:before {
    transform: scaleY(1);
      -webkit-transform: scaleY(1);
}

nav a.active {
  border: 0;
}




/*------------------------------------------------------------*/
#page {
    margin: 1.5rem;
}






/*------------------------------------------------------------*/
footer {
    text-align: center;
    margin: 3rem 0 1rem 0;
    font-size: .85rem;
}



/*------------------------------------------------------------*/
#boite {
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    background: #111111;
    color: #ffffff;
    padding: 0 1rem 1rem 1rem;
    font-family: consolas, monospace;
    font-size: 120%;
    display: none;
}

#boite button {
    background: #f4f2f1;
    border: 1px solid rgba(63, 63, 65, 0.514);
    border-radius: .2rem;
    color: #111111;
    font-size: 1rem;
    cursor: pointer;
}

#boite a:hover {
  text-decoration: none;
  cursor: pointer;
}